#header
{
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #222;
	border-bottom: 4px solid #333;
}
#header img
{
	margin-right: 0.5rem;
}
#header p
{
	color: #ffd900;
	font-size: 2rem;
	margin: 0;
}