#search
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
#search input[type="text"]
{
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	margin-right: 1rem;

	border: none;
	outline: none !important;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	
	color: #fff;
	background-color: #444;
	font-size:1rem;
}
#search input[type="text"]::placeholder
{
	color: #fff9;
}
#search input[type="button"]
{
	padding: 0.5rem 1rem;
	border-radius: 2rem;

	border: none;
	outline: none !important;
	
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	
	color: #222;
	background-color: #ffd900;
	font-size:1rem;
	cursor: pointer;
}
#search input[type="button"]:hover
{
	background-color: #e9c601;
}
