#result-container
{
	text-align: center;
	font-size: 1.5rem;
	background: rgba( 255, 255, 255, 0.55 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20.0px );
	-webkit-backdrop-filter: blur( 20.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );	

}
#temperature
{
	font-size: 1.5rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#description
{
  font-size: 1.5rem;
  font-weight: bold;
}
#location
{
	font-size: 1.5rem;
    font-weight: bold;
}
#message
{
	font-size: 1.5rem;
	font-weight: bold;
}