#temperature
{
	font-size: 5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
#description
{
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
#location
{
	font-size: 2rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
}
#message
{
	font-size: 2rem;
 	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
}