body
{
	background-color:#111;
	margin: 0;

}
#root
{
	margin: 0;
}
#result-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 5rem auto 0;
}

#result-container > div
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 28rem;
	padding: 2rem;
	border-radius: 4px;
	box-sizing: content-box;

	color: white;
	background-color: #444;
}
@media (max-width: 500px)
{
	#result-container > div
	{
		width: 20rem;	
	}
}